# contracts
/contracts/artifacts
/contracts/cache
/contracts/node_modules
/contracts/.env
/contracts/deployments/localhost/*
!/contracts/deployments/localhost/.gitkeep
/contracts/deployments/hardhat/*
!/contracts/deployments/hardhat/.gitkeep

# frontend
/frontend/node_modules
/frontend/build
/frontend/src/artifacts
/frontend/cache
/frontend/.env
/frontend/src/config/contracts/deployments/localhost/*
!/frontend/src/config/contracts/deployments/localhost/.gitkeep
/frontend/src/config/contracts/deployments/hardhat/*
!/frontend/src/config/contracts/deployments/hardhat/.gitkeep

# frontend unsure
/frontend/.pnp
/frontend/coverage
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

# build
.DS_Store
.env

# else
.notes.md
